<div class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="posts">Postes</a>
            </li>
        </ul>

        <ul class="nav nav-pills navbar-right">
            <li *ngIf="!isAuth" class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="auth/signin">Connexion</a>
            </li>
            <li *ngIf="!isAuth" class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="auth/signup">Inscription</a>
            </li>
            <li *ngIf="isAuth">
                <a class="nav-link" (click)="onSignOut()" style="cursor: pointer;">Déconnexion</a>
            </li>
        </ul>
    </div>
</div>