<div class="row">
    <div class="col-xs-12 w-100">
        <h2 class="mb-4">Vos postes</h2>
        <button class="btn btn-primary mb-4 text-white" (click)="onNewPost()">Nouveau poste</button>
        <div class="list-group">
            <div *ngIf="posts.length < 1">
                <h2 class="text-danger">Aucun post.</h2>
            </div>
            <button *ngFor="let post of posts; let i = index" [ngClass]="{
                'list-group-item': true,
                'list-group-item-success': post.loveIts > 0,
                'list-group-item-danger': post.loveIts < 0
            }">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1" [ngStyle]=" { color: getPostColor(i) } "> {{ post.title }} </h5>
                    <p class=" mb-1"> {{ post.created_at | date: 'short' }} </p>
                </div>
                <p class="mb-4" [ngStyle]=" { color: getPostColor(i) } "> {{ post.content }} </p>
                <div class="d-flex w-100 justify-content-between">
                    <div>
                        <button class="btn btn-sm btn-success mr-2" (click)="onLikePost(i)">Love it!</button>
                        <button class="btn btn-sm btn-dark" (click)="onDislikePost(i)">Don't love it!</button>
                    </div>
                    <h4 class="bold" [ngStyle]=" { color: getPostColor(i) } "> {{ post.loveIts }} LoveIts</h4>
                    <div>
                        <button class="btn btn-sm btn-primary mr-2" (click)="onViewPost(i)">Détails</button>
                        <button class="btn btn-sm btn-danger" (click)="onDeletePost(post)">Supprimer</button>
                    </div>
                </div>
            </button>
        </div>
    </div>
</div>